#!/bin/sh

. /etc/rc.config

## Mount pseudo-filesystems.
##

 mountpoint -q /proc || mount -o nosuid,noexec,nodev -t proc proc /proc &
 mountpoint -q /sys || mount -o nosuid,noexec,nodev -t sysfs sys /sys &
 mountpoint -q /dev || mount -o mode=0755,nosuid -t devtmpfs dev /dev &
 mountpoint -q /var/run || mount -o mode=0755,nosuid,nodev -t tmpfs run /var/run &
 mountpoint -q /dev/pts || mount -o mode=0620,gid=5,nosuid,noexec -n -t devpts devpts /dev/pts &
 mountpoint -q /dev/shm || mount -o mode=1777,nosuid,nodev -n -t tmpfs shm /dev/shm &
 mountpoint -q /tmp || mount -o mode=1777,rw -n -t tmpfs tmpfs /tmp

## Mount real filesystems.
##

 mount -a -t "nosysfs,nonfs,nonfs4,nosmbfs,nocifs" -O no_netdev &

## Turn on all swap partitions.
##

swapon -a
