## Below is the list of user defined variables for the build.
##

## How many jobs of make do you want to run? Usually setting this to
## the number of cpu cores you have is a good choice.

export JOBS=8

## Base CPU architecture for the build. Valid options are x64, arm6
## arm7 and arm8

export UARCH=x64

## Set target and host tuple. Usually you want these to be the same.
## Use a glibc tuple for host and a musl tuple for target if your building
## a musl toolchain from a glibc system.

export HOSTARCH=x86_64-linux-musl
export MACHARCH=x86_64-linux-musl

## Choose desired platform elements here. The default choice is gnu userland
## with linux kernel.

export PLATFORM=linux
export USERLAND=gnu

## Choose a static or dynamic linked toolchain. 
## Has no effect on objects that the toolchain produces.

export STATICTOOLCHAIN=no

## Disk for bootstraping an install image.
## Be very careful and set this to a blank disk.

export BASEDISK=/dev/loop0

## Below is a list of variables for the tools used to build the toolchain.
## Strive for best compatibility for alternative tools if possible.

export TARCMD="tar $@"
export PATCHCMD="patch $@"
export MKDIRCMD="mkdir -p $@"
export TOPDIR="$(pwd)"
export FETCHCMD="wget -nc --directory-prefix=${TOPDIR}/sources $@"
export MKCMD="make -j"$JOBS" $@"
export SEDCMD="sed $@"
export RMCMD="rm -rf $@"
export CPCMD="cp -rf $@"
export LNCMD="ln $@"
export ECHOCMD="echo $@"
export CHMODCMD="chmod $@"
export GZCMD="pigz $@"
export CATCMD="cat $@"
export FINDCMD="find $@"
export GREPCMD="grep $@"
export SORTCMD="sort $@"
export TOUCHCMD="touch $@"
export READLINKCMD="readlink $@"
export DIRNAMECMD="dirname $@"
export WHICHCMD="which $@"
export XARGSCMD="xargs $@"
export STRIPCMD="strip $@"
export MKTEMPCMD="mktemp $@"
export DDCMD="dd $@"
export MOUNTCMD="mount $@"
export UMOUNTCMD="umount $@"
export FDISKCMD="fdisk $@"
export GITCMD="git $@"
export UNZIPCMD="unzip $@"
export GRUBINSTCMD="/etc/grub/sbin/grub-install $@"
export MKFSCMD="mkfs $@"
export LOSETUPCMD="/apk/sbin/losetup $@"
