## Below is the list of user defined variables for the build.
##

## Base CPU architecture for the build. Valid options are x86, arm6
## arm7 and arm8

export UARCH=x64


## Set target and host tuple. Usually you want these to be the same.
## Use a glibc tuple for host and a musl tuple for target if your building
## a musl toolchain from a glibc system.

export HOSTARCH=x86_64-linux-gnu
export MACHARCH=x86_64-linux-gnu

export PLATFORM=linux
export JOBS=24
#export PKGDEFAULTNAME=sdk-linux-musl-0.1


##
##


## Generate pseudo-random prefix for package.
##

export MKTEMPCMD="mktemp $@"
TMPDIR=/tmp $MKTEMPCMD -d --suffix=-$PKGDEFAULTNAME -t .pkg-XXXXXXXX >log.prefix
export FINPREFIX=$(cat log.prefix)


##
##

## Below is a list of variables for the tools used to build the toolchain.
## Strive for best compatibility for alternative tools if possible.

export TARCMD="tar $@"
export PATCHCMD="patch $@"
export MKDIRCMD="mkdir -p $@"
export FETCHCMD="wget -nc $@"
export TCDIR="$(pwd)"
export MKCMD="make -j"$JOBS" $@"
export SEDCMD="sed $@"
export RMCMD="rm -rf $@"
export CPCMD="cp -rvf $@"
export LNCMD="ln $@"
export ECHOCMD="echo $@"
export CHMODCMD="chmod $@"
export GZCMD="pigz $@"
export CATCMD="cat $@"

##
##

${RMCMD} working.prefix &&
${MKDIRCMD} working.prefix &&
${RMCMD} ${FINPREFIX} &&
${LNCMD} -sfn $(pwd)/working.prefix ${FINPREFIX} 
